body, html {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #F3933D;
}

h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.2rem;
}

nav {
  background: #504a4c;
  padding: 10px 30px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
}

.active {
  color: #F3933D;
}

.burger {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  padding: 20px 10px 10px;
  height: 40px;
  width: 50px;
  cursor: pointer;
}

.burger-container {
  position: relative;
  height: 24px;
  width: 26px;
}

.bar {
  position: absolute;
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 2px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.bar:first-child {
  top: 0;
}
.bar:last-child {
  bottom: 0;
}
.bar:nth-child(2) {
  top: 11px;
}

.burger-cross .bar {
  width: 28px;
  left: 0;
}
.burger-cross .bar:first-child {
  top: 4px;
  transform: translateY(7px) rotate(45deg);
}
.burger-cross .bar:nth-child(2) {
  transform: scale(0);
}
.burger-cross .bar:last-child {
  bottom: 3px;
  transform: translateY(-7px) rotate(-45deg);
}

.closeMenu .bar {
  width: 25px;
}
.closeMenu .bar:first-child {
  transform: translateY(7px) rotate(45deg);
}
.closeMenu .bar:nth-child(2) {
  transform: scale(0);
}
.closeMenu .bar:last-child {
  transform: translateY(-7px) rotate(-45deg);
}

.toggle {
  display: none;
}

.logo {
  width: 70px;
  height: auto;
}

.item {
  padding: 15px;
}

.slider {
  position: relative;
  width: 100vw;
  height: calc(100vw / 1.8);
}

.slide {
  position: absolute;
  display: none;
  width: 100vw;
  height: calc(100vw / 1.8);
}

.shown {
  display: block;
}

.subtitle {
  font-size: 2rem;
  z-index: 3;
}

.prev {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 30px;
  top: calc(50% - 15px);
  z-index: 5;
}

.next {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: calc(50% - 15px);
  z-index: 5;
}

.picture {
  width: 100%;
  height: auto;
}

.wrap {
  padding: 30px 50px;
}

.button {
  background-color: #F3933D;
  border: 3px solid #F3933D;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 2px;
}

.button:hover {
  transition: all .5s ease-in-out;
  background-color: #fff;
  color: #F3933D;
}

.btn {
  margin: 50px 0;
}

.classes h2 {
  text-align: center;
}

.classes-sub {
  font-size: 1.5rem;
  text-align: center;
}

.classes-wrap {
  display: flex;
}

.classes-block {
  margin: 30px 20px;
}

.description {
  line-height: 1.55;
}

.video-block {
  display: flex;
  background: #E9EBEE;
}

.video-left {
  flex: 1;
  padding: 0 20px;
  line-height: 1.5;
}

.video-right {
  flex: 1;
  margin-top: 40px;
  padding: 0 20px;
}

.video-frame {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.services h2 {
  text-align: center;
}

.services-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services-block {
  padding: 30px;
}

.services-img {
  width: 64px;
  height: auto;
}

.timetable {
  text-align: center;
}

.tametable-img {
  padding: 0 20px;
}

.subscription {
  text-align: center;
  background: #E9EBEE;
}

.subscription-text {
  font-size: 1.2rem;
}

.subscription-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
}

.card {
  background: #fff;
  border: 1px solid #e0e6ed;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 40px 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  padding: 40px 0;
}

.card-text {
  line-height: 2;
}

.card-price {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 0;
}

.faq {
  text-align: center;
}

.faq-text {
  font-size: 1.2rem;
}

.faq-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.faq-block {
  border: 1px solid #e0e6ed;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 40px 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.faq-block h4 {
  line-height: 1.8;
  text-align: center;
}

.faq-block-text {
  line-height: 2;
  text-align: left;
}

.contacts {
  background: #E9EBEE;
  display: flex;
  font-size: 1.3rem;
}

.address,
.map {
  padding: 50px;
  flex: 1;
}

.tel {
  color: #000;
}

.map-frame {
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 0;
}

footer {
  background: #504a4c;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orange {
  color: #F3933D;
}

.icon {
  margin: 0 5px;
}

.scroll_top {
  position: fixed;
  bottom: -55px;
  right: 10px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background: #504a4c;
  z-index: 100;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}

.scroll_top:after {
  content: "";
  width: 15px;
  height: 15px;
  border-top: 3px solid #F3933D;
  border-left: 3px solid #F3933D;
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.scroll_top.show {
  bottom: 30px;
}

.scroll_top:show, .scroll_top:focus, .scroll_top:active {
  outline: none;
}

@media screen and (max-width: 1200px) {
  .wrap {
    padding: 40px 20px;
  }

  .card {
    margin: 15px;
  }

  .card-body {
    padding: 20px;
  }

  .card-price {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 992px) {
  nav {
    flex-direction: column;
    align-items: start;
  }

  .menu {
    flex-direction: column;
    display: none;
    flex-direction: column;
    text-align: center;
  }

  .show {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .toggle {
    display: block;
  }

  .subscription-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .classes {
    text-align: center;
  }

  .description {
    text-align: left;
  }

  .classes-wrap {
    flex-direction: column;
  }

  .video-block {
    flex-direction: column;
  }

  .services-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .faq-wrap {
    grid-template-columns: 1fr;
  }

  .contacts {
    flex-direction: column;
  }

  .address {
    text-align: center;
    padding-bottom: 30px;
  }

  .map {
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 2.8rem;
  }

  .services-wrap {
    grid-template-columns: 1fr;
  }

  .subscription-wrap {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
