$white: #fff;
$grey: #E9EBEE;
$black: #504a4c;
$orange: #F3933D;
$width: 100vw;

body, html{
   padding: 0;
   margin: 0;
}
html{
   font-size: 16px;
}
body{
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
a{
   color: $white;
   text-decoration: none;
}
a:hover{
   color: $orange;
}
h1{
   font-size: 5rem;
   letter-spacing: 3px;
   text-transform: uppercase;
}
h2{
   font-size: 3rem;
}
h3{
   font-size: 2rem;
   line-height: 1.5;
}
h4{
   font-size: 1.2rem;
}
nav{
   background: $black;
   padding: 10px 30px;
   text-align: right;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu{
   display: flex;
}
.active{
   color: $orange;
}
.burger{
   display: none;
   position: absolute;
   right: 0;
   top: 15px;
   padding: 20px 10px 10px;
   height: 40px;
   width: 50px;
   cursor: pointer;
}
.burger-container {
   position: relative;
   height: 24px;
   width: 26px;
}
.bar {
   position: absolute;
   display: block;
   height: 3px;
   width: 25px;
   border-radius: 2px;
   background: #fff;
   transition: 0.3s ease-in-out;
   &:first-child {
      top: 0;
   }
   &:last-child {
      bottom: 0;
   }
   &:nth-child(2){
      top: 11px;
   }
}
.burger-cross {
   .bar {
      width: 28px;
      left: 0;
      &:first-child {
         top: 4px;
         transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
         transform: scale(0);
      }
      &:last-child {
         bottom: 3px;
         transform: translateY(-7px) rotate(-45deg);
      }
   }
}
.closeMenu {
   .bar {
      width: 25px;
      &:first-child {
         transform: translateY(7px) rotate(45deg);
      }
      &:nth-child(2) {
         transform: scale(0);
      }
      &:last-child {
         transform: translateY(-7px) rotate(-45deg);
      }
   }
}
.toggle{
   display: none;
}
.logo{
   width: 70px;
   height: auto;
}
.item{
   padding: 15px;
}
.slider{
   position: relative;
   width: $width;
   height: calc(#{$width} / 1.8);
}
.slide{
   position: absolute;
   display: none;
   width: $width;
   height: calc(#{$width} / 1.8);
}
.shown{
   display: block;
}
.subtitle{
   font-size: 2rem;
   z-index: 3;
}
.prev,
.next{
   width: 30px;
   height: 30px;
   position: absolute;
   top: calc(50% - 15px);
   z-index: 5;
   cursor: pointer;
}
.prev{
   left: 30px;
}
.next{
   right: 30px;
}
.picture{
   width: 100%;
   height: auto;
}
.wrap{
   padding: 30px 50px;
}
.button{
   background-color: $orange;
   border: 3px solid $orange;
   border-radius: 5px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
   padding: 10px 20px;
   font-size: 1.1rem;
   color: $white;
   letter-spacing: 2px;
}
.button:hover{
   transition: all .5s ease-in-out;
   background-color: $white;
   color: $orange
}
.btn{
   margin: 50px 0;
}
.classes{
   h2{
      text-align: center;
   }
}
.classes-sub{
   font-size: 1.5rem;
   text-align: center;
}
.classes-wrap{
   display: flex;
}
.classes-block{
   margin: 30px 20px;
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.description{
   line-height: 1.55;
}
.video-block{
   display: flex;
   background: $grey;
}
.video-left{
   flex: 1;
   padding: 0 20px;
   line-height: 1.5;
}
.video-right{
   flex: 1;
   margin-top: 40px;
   padding: 0 20px;
}
.video-frame{
   width: 100%;
   height: 100%;
   min-height: 300px;
}
.services{
   h2{
      text-align: center;
   }
}
.services-wrap{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.services-block{
   padding: 30px;
}
.services-img{
   width: 64px;
   height: auto;
}
.timetable{
   text-align: center;
}
.tametable-img{
   padding: 0 20px;
}
.subscription{
   text-align: center;
   background: $grey;
}
.subscription-text{
   font-size: 1.2rem;
}
.subscription-wrap{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin-top: 60px;
}
.card{
   background: $white;
   border: 1px solid #e0e6ed; 
   border-radius: 9px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
   text-align: center;
   padding: 40px 20px;
   margin: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.card-body{
   padding: 40px 0;
}
.card-text{
   line-height: 2;
}
.card-price{
   font-size: 3rem;
   font-weight: 700;
   margin: 30px 0;
}
.gallery{
   h2{
      text-align: center;
   }
}
.gallery-wrap{
   padding: 20px;
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   grid-gap: 40px;
}
.gallery-img{
   cursor: pointer;
}
.overlay{
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(252,251,249,.9);
}
.gallery-popup{
   position: fixed;
   top: 10px;
   left: calc((#{$width} - 600px) / 2);
   width: calc(#{$width} - 200px);
   height: calc(#{$width} - 200px);
   max-width: 600px;
   max-height: 600px;
   display: none;
   border: 5px solid white;
}
.left,
.right{
   width: 30px;
   height: 30px;
   position: absolute;
   top: calc(50% - 15px);
   z-index: 15;
   cursor: pointer;
}
.left{
   left: 30px;
}
.right{
   right: 30px;
}
.close{
   width: 30px;
   height: 30px;
   position: absolute;
   top: 30px;
   right: 30px;
   cursor: pointer;
   z-index: 15;
}
.popup-img{
   display: none;
   position: absolute;
}
.visible{
   display: block;
}
.pop-show{
   display: block;
}
.faq{
   text-align: center;
}
.faq-text{
   font-size: 1.2rem;
}
.faq-wrap{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.faq-block{
   border: 1px solid #e0e6ed; 
   border-radius: 9px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
   text-align: left;
   padding: 40px 30px;
   margin: 20px;
   display: flex;
   flex-direction: column;
   h4{
      line-height: 1.8;
      text-align: center;
   }
}
.faq-block-text{
   line-height: 2;
   text-align: left;
}
.contacts{
   background: $grey;
   display: flex;
   font-size: 1.3rem;
}
.address,
.map{
   padding: 50px;
   flex: 1;
}
.tel{
   color: #000;
}
.map-frame{
   width: 100%;
   height: 100%;
   min-height: 300px;
   padding: 0;
}
footer{
   background: $black;
   color: $white;
   font-size: 1.5rem;
   font-weight: 700;
   letter-spacing: 2px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.orange{
   color: $orange;
}
.icon{
   margin: 0 5px;
}
.scroll_top {
   position: fixed;
   bottom: -55px;
   right: 10px;
   width: 55px;
   height: 55px;
   border: none;
  // border-radius: 50%;
   //background: $black;
   z-index: 100; 
   outline: none; 
   cursor: pointer;
   transition: 0.4s; 
}
.scroll_top:after {
   content: "";
   width: 25px;
   height: 25px;
   border-top: 6px solid $orange; 
   border-left: 6px solid $orange; 
   transform: rotate(45deg); 
   position: absolute;
   top: 7px;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}
.scroll_top.show{
   bottom: 30px;
}
.scroll_top:show, .scroll_top:focus, .scroll_top:active{
   outline: none; 
}

/*   media */

@media screen and (max-width: 1200px){
   .wrap{
      padding: 40px 20px;
   }
   .card{
     margin: 15px;
   }
   .card-body{
      padding: 20px;
   }
   .card-price{
      font-size: 2.5rem;
   }
}
@media screen and (max-width: 992px){
   nav{
      flex-direction: column;
      align-items: start;
   }
   .menu{
      flex-direction: column;
      display: none;
      flex-direction: column; 
      text-align: center;
   }
   .show{
      display: flex;
      justify-content: center;
      margin: 0 auto;
   }
   .toggle{
      display: block;
   }
   .subscription-wrap{
      grid-template-columns: repeat(2, 1fr);
   }
}
@media screen and (max-width: 768px){
   .classes{
      text-align: center;
   }
   .description{
      text-align: left;
   }
   .classes-wrap{
      flex-direction: column;
   }
   .video-block{
      flex-direction: column;
   }
   .services-wrap{
      grid-template-columns: repeat(2, 1fr);
   }
   .faq-wrap{
      grid-template-columns: 1fr;
   }
   .contacts{
      flex-direction: column;
   }
   .address{
      text-align: center;
      padding-bottom: 30px;
   }
   .map{
      padding: 0;
   }
}
@media screen and (max-width: 576px){
   h2{
      font-size: 2.7rem;
   }
   .next{
      right: 10px;
   }
   .prev{
      left: 10px;
   }
   .services-wrap{
      grid-template-columns: 1fr;
   }
   .subscription-wrap{
      grid-template-columns: 1fr;
   }
   .gallery-popup{
      left: calc((#{$width} - (#{$width} - 100px)) / 2);
      width: calc(#{$width} - 100px);
      height: calc(#{$width} - 100px);
   }
   .left{
      left: 15px;
      width: 20px;
      height: 20px;
   }
   .right{
      right: 15px;
      width: 20px;
      height: 20px;
   }
   .close{
      top: 15px;
      right: 15px;
      width: 20px;
      height: 20px;
   }
}