body, html {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #F3933D;
}

h1 {
  font-size: 5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.2rem;
}

nav {
  background: #504a4c;
  padding: 30px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px;
  height: auto;
}

.item {
  padding: 20px;
}

.slider {
  position: relative;
}

.slide {
  background: url(./img/slide1.png) no-repeat top center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px;
}

.subtitle {
  font-size: 2rem;
}

.prev {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 30px;
  top: calc(50% - 15px);
}

.next {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: calc(50% - 15px);
}

.picture {
  width: 100%;
  height: auto;
}

.wrap {
  padding: 30px 50px;
}

.button {
  background-color: #F3933D;
  border: 3px solid #F3933D;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 2px;
}

.button:hover {
  transition: all .5s ease-in-out;
  background-color: #fff;
  color: #F3933D;
}

.btn {
  margin: 50px 0;
}

.classes h2 {
  text-align: center;
}

.classes-sub {
  font-size: 1.5rem;
  text-align: center;
}

.classes-wrap {
  display: flex;
}

.classes-block {
  margin: 30px 20px;
}

.description {
  line-height: 1.55;
}

.video-block {
  display: flex;
  background: #E9EBEE;
}

.video-left {
  flex-grow: 1;
  padding: 0 20px;
  line-height: 1.5;
}

.video-right {
  flex-grow: 1;
  margin-top: 40px;
  padding: 0 20px;
}

.services h2 {
  text-align: center;
}

.services-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services-block {
  padding: 30px;
}

.services-img {
  width: 64px;
  height: auto;
}

.timetable {
  text-align: center;
}

.tametable-img {
  padding: 0 20px;
}

.subscription {
  text-align: center;
  background: #E9EBEE;
}

.subscription-text {
  font-size: 1.2rem;
}

.subscription-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
}

.card {
  background: #fff;
  border: 1px solid #e0e6ed;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 40px 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  padding: 40px 0;
}

.card-text {
  line-height: 2;
}

.card-price {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 0;
}

.faq {
  text-align: center;
}

.faq-text {
  font-size: 1.2rem;
}

.faq-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.faq-block {
  border: 1px solid #e0e6ed;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 40px 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.faq-block h4 {
  line-height: 1.8;
  text-align: center;
}

.faq-block-text {
  line-height: 2;
  text-align: left;
}

.contacts {
  background: #E9EBEE;
  padding: 50px;
  display: flex;
  font-size: 1.3rem;
}

.address,
.map {
  padding: 0 20px;
  flex-grow: 1;
}

.tel {
  color: #000;
}

footer {
  background: #504a4c;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orange {
  color: #F3933D;
}

.icon {
  margin: 0 5px;
}

/*# sourceMappingURL=style.css.map */
